.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

table {
  width: 90%;
}

td {
  width: 20%;
  border-color: black;
  border-style: solid;
  position: relative;
}

td:after {
  content: '';
  display: block;
  margin-top: 100%;
}

td .letter {
  font-size: calc(10px + 8vmin);
  font-weight: bold;
  color: white;
  position: absolute;
}

td .correct {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #6aaa64;
}

td .wrong {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #787c7e;
}

td .misplaced {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #c9b458;
}

